name: generic github actions

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:
    branches:
      - '*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: get current date
      run: echo "irgsh_build_date=$(TZ='Asia/Jakarta' date +'%Y%m%d%H%M')" >> $GITHUB_ENV
    - uses: actions/checkout@v3
    - name: build development release
      run: |
        sudo apt update && sudo apt install -y gpg pbuilder debootstrap devscripts python3-apt reprepro make
        curl -O https://storage.googleapis.com/golang/go1.13.14.linux-amd64.tar.gz
        tar -xf go1.13.14.linux-amd64.tar.gz
        sudo mv go /usr/local
        echo ${{ env.irgsh_build_date }}-development-build > VERSION
        make release
        mv target/{release,pre-release}.tar.gz
    - uses: actions/upload-artifact@v3
      with:
        name: pre-release.tar.gz
        path: target/
    outputs:
      irgsh_build_date: ${{ env.irgsh_build_date }}

  release:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: pre-release.tar.gz
    - name: extract release
      run: |
        ls -l
        tar xzf pre-release.tar.gz
    - name: create github release
      uses: softprops/action-gh-release@v0.1.15
      with:
        token: ${{  }}
        name: ${{ needs.build.outputs.irgsh_build_date }} Development Release
        body: Development release ${{ needs.build.outputs.irgsh_build_date }}
        draft: false
        prerelease: true
        tag_name: ${{ needs.build.outputs.irgsh_build_date }}-development-build
        files: |
          pre-release.tar.gz
          release/irgsh-go/usr/bin/irgsh-cli

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [release]
  #   steps:
  #   - name: Deployment
  #     env:
  #       HOST: ${{secrets.RAFI_HOSTNAME}}
  #       KEY: ${{secrets.RAFI_DEPLOYMENT_KEY}}
  #     run: |
  #       curl --header "Content-Type: application/json" --request POST --data "{\"name\":\"irgsh-dev\",\"token\": \""$KEY"\"}" https://$HOST/tendang
