name: generic github actions

on:
  push:
    branches-ignore:
      - 'master'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: get current date
      id: date
      run: echo "::set-output name=date::$(TZ='Asia/Jakarta' date +'%Y%m%d%H%M')"
    - uses: actions/checkout@v3
    - name: build development release
      run: |
        sudo apt update && sudo apt install -y gpg pbuilder debootstrap devscripts python-apt reprepro make
        curl -O https://storage.googleapis.com/golang/go1.13.14.linux-amd64.tar.gz
        tar -xf go1.13.14.linux-amd64.tar.gz
        sudo mv go /usr/local
        echo ${{ steps.date.outputs.date }}-development-build > VERSION
        make release
        mv target/{release,pre-release}.tar.gz
    - uses: actions/upload-artifact@v3
      with:
        name: pre-release.tar.gz
        path: target/

  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: pre-release.tar.gz
    - run: ls -l
    - name: create github release
      uses: softprops/action-gh-release@v0.1.15
      with:
        draft: false
        prerelease: true
        files: |
          pre-release.tar.gz

  # deploy:
  #   runs-on: ubuntu-latest
  #   needs: [release]
  #   steps:
  #   - name: Deployment
  #     env:
  #       HOST: ${{secrets.RAFI_HOSTNAME}}
  #       KEY: ${{secrets.RAFI_DEPLOYMENT_KEY}}
  #     run: |
  #       curl --header "Content-Type: application/json" --request POST --data "{\"name\":\"irgsh-dev\",\"token\": \""$KEY"\"}" https://$HOST/tendang
